.dialogMessage {
    text-transform: uppercase;
    font-family: 'Press Start 2P', serif;
    font-size: calc(var(--game-zoom) * 8px);
    line-height: calc(var(--game-zoom) * 12px);
    color: #111;
}
